.data{
    font-weight: 100;
}

#a{
    font-weight: 200;
}

#b{
    font-weight: 300;
}

#c{
    font-weight: 400;
}

#d{
    font-weight: 500;
}

#e{
    font-weight: 600;
}

#f{
    font-weight: 700;
}

#g{
    font-weight: 800;
}

#h{
    font-weight: 900;
}