.money{
    border: 2px solid black;
    font-weight: 900;
    color: rgb(18, 230, 46);
    size: 24px;
}

#a{
    background-color: aqua;
}

#b{
    background-color: aquamarine;
}

#c{
    background-color: azure;
}
