#d1{
    color: red;
    text-align: center;
}

#d2{
    color: blue;
    text-align: center;
}

#d3{
    color: yellow;
    text-align: center;
}

#d4{
    color: green;
    text-align: center;
}

#d5{
    color: purple;
    text-align: center;
}