nav{
    text-align: center;
}
a{
    background-color: black;
    color: white;
}
p{
    border: 5px solid black;
    text-align: center;
}
h1{
    text-align: center;
}
div{
    text-align: center;
}